/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
        position: relative;
        top: -68px;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        border-radius: 8px;
      }
      .controls {
        margin-top: 10px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 35px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }

      #origin-input,
      #destination-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        position: relative;
        margin-left: 70px;
        margin-top: 30px;
        width: 350px; 
        text-align: center;
        display: block;
        
      }

      #proceed
      {
        z-index: 1;
        width: 350px;
        text-decoration: none;
        margin-top: 30px;
        margin-left: 80px;
        position: relative;
        bottom: 3px;
        left: 830px;
        background-color: #ddffd6;
        display: block;

      }
      /*#origin-input:focus,
      #destination-input:focus {
        border-color: #4d90fe;
      }*/

      /*#origin-input {
        position: relative;
        left: 280px;

      }

      #destination-input {
        position: relative;
        left: 560px;
        
      }*/


      /*#mode-selector {
        color: #fff;
        background-color: #4d90fe;
        margin-left: 12px;
        padding: 5px 11px 0px 11px;
      }

      #mode-selector label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }*/